<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>LTW PTIT N18</title>
</head>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }

</style>
<body>
<h3>Y Tá</h3>
<table style="border: 5px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Y tá tham gia trợ giúp</th>
        <th>Tên bệnh nhân</th>
        <th>Ngày vào</th>
        <th>Ngày ra</th>
        <th>Tên bác sĩ</th>
        <th>Tên Bệnh</th>
    </tr>
    </thead>
    <tbody>
    <tr>

    <tr th:each="hotro : ${listHoTro}">
        <td th:text="${hotro.id}"></td>
        <td th:text="${yta.ytaTen}"></td>
        <td th:text="${hotro.kham.benhNhan.ten}"></td>
        <td th:text="${hotro.kham.datein}"></td>
        <td th:text="${hotro.kham.dateout}"></td>
        <td th:text="${hotro.kham.bacSy.bacsyTen}"></td>
        <td th:text="${hotro.kham.benh.ten}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>